* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-image: url('images/background.jpg');
  background-size: cover;
  background-attachment: fixed;
}

a {
  color: #28E0CA;
  text-decoration: none !important;
}

button {
  cursor: pointer;
}

button > a {
  text-decoration: none !important;
  color: rgba(255 ,255 ,255 ,0.7);
}

form {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}